Test chart
= fusionchart("TestChart1", "Line", "daily_stats?from=#{params[:from]}&to=#{params[:to]}", "400", "300")
= fusionchart("TestChart2", "Column3D", "daily_stats?from=#{params[:from]}&to=#{params[:to]}", "400", "300")