#albums_index
  .text_head
    = @user.firstname.possessive if @user
    albums
  - @albums.each do |album|
    .album_index_item
      = link_to album do
        .album_index_item_name
          = album.name
        (
        = album.photos.count
        photos )
      = link_to ' | Delete', album, :confirm => 'Are you sure?', :method => :delete if can?(:destroy, album)

  = render 'create_form', :album => @new_album if @new_album